<div class="row">
  <div class="col-12"></div>
  <div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="loginForm" class="loginForm">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          formControlName="userName"
          placeholder="Type your user name"
          pSize="large"
        />
      </p-inputgroup>
      <p-password
        [toggleMask]="true"
        formControlName="password"
        placeholder="Type your password"
      />

      <div class="d-flex justify-content-center">
        <p-button
          (onClick)="onClickLogin()"
          icon="pi pi-sign-out"
          iconPos="right"
          label="Log in"
        ></p-button>
      </div>
    </form>
  </div>
</div>
