<div class="login-container">
  <div class="login-card">
    <div class="text-center">
      <img src="brand_sm.jpg" alt="Software Mind" width="200" class="mb-3" />
    </div>

    <form [formGroup]="loginForm" class="login-form">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          formControlName="userName"
          placeholder="Type your user name"
          pSize="large"
          class="w-100"
        />
      </p-inputgroup>
      <p-password
        [toggleMask]="true"
        formControlName="password"
        placeholder="Type your password"
        styleClass="w-100"
      />

      <div class="text-center mt-3">
        <p-button
          (onClick)="onClickLogin()"
          icon="pi pi-sign-out"
          iconPos="right"
          label="Log in"
          styleClass="w-100 p-button-lg"
        ></p-button>
      </div>
    </form>
  </div>
</div>
