<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Manage Employees</h1>
    <p-button (onClick)="showDialog(null)">Add Employee</p-button>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      @for (employee of employees; track $index) {
      <p-card
        [header]="`${employee?.firstName} ${employee?.lastName}`"
        class="card mt-2"
      >
        <div class="row">
          <div class="col-2 d-flex justify-content-center">
            <div class="avatar-card">
              @if (employee?.avatarUrl) {
              <img
                [src]="`https://localhost:7126/${employee?.avatarUrl}`"
                alt="Avatar"
                class="w-100 h-100"
              />
              } @else {
              <img
                src="default-avatar.png"
                alt="Avatar"
                class="w-100 h-100"
              />
              }
            </div>
          </div>
          <div class="col-7">
            <div class="info">
              <label>Hire Date: </label>
              {{ employee?.hireDate?.toString() ?? "" | formatDate }}
              {{ employee?.hireDate?.toString() ?? "" | formatDate : "diff" }}
            </div>
          </div>
          <div class="col-3">
            <div class="actions">
              <p-button
                label="View Details"
                severity="primary"
                icon="pi pi-eye"
                (onClick)="viewDetails(employee?.id ?? '')"
                routerLinkActive="router-link-active"
              ></p-button>
              <p-button
                icon="pi pi-times"
                aria-label="delete"
                severity="danger"
                (click)="confirmDeletion($event, employee.id)"
                [outlined]="true"
              ></p-button>
            </div>
          </div>
        </div> </p-card
      >}
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="dialogFormVisible"
  [header]="selectedEmployeeId ? 'Edit Employee' : 'Add Employee'"
  [style]="{ width: '50rem' }"
  maskStyleClass="dark-overlay"
  [baseZIndex]="10000"
>
  <app-employee-form
    [employeeId]="selectedEmployeeId"
    (emitDialog)="emitDialog($event)"
  ></app-employee-form>
</p-dialog>

<p-confirmdialog />
